body {
    font-family: sans-serif;
    background: rgb(240, 238, 238)
}

section .navbar-info .student-state {
    border: 1px solid black;
    width: 900px;
    height: 500px;
    margin: 30px auto;
}

.student-state .container h1 {
    display: block;
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
}

.student-state .container input {
    outline: none;
    border: 1px solid black;
    padding: 3px 6px;
    font-size: 16px;
}

.student-state .container input[type="submit"] {
    float: right;
    margin: 10px;
    padding: 8px 18px;
    transition: 0.5s;
    background: #183153;
    color: #fff;
}

.student-state .container input[type="submit"]:hover {
    background: rgb(13, 26, 43);
}

.student-state .container label {
    font-size: 16px;
    padding-left: 6px;
}

.student-state .container .recordbx,
.student-state .container .kickbx {
    margin: 38px auto;
    padding: 40px;
    border: 1px solid black;
    max-width: 700px;
    min-height: 180px;
}


/*{
    background: #183153;
    padding: 2px;
    overflow: hidden;
    color: #fff;
    transition: 0.5s;
}*/

section .navbar-info.active {
    background: #531818
}

section .navbar-info h2 {
    float: left;
    font-size: 26px;
    font-weight: bold;
    margin-top: 6px;
}

section .navbar-info span {
    float: right;
    padding: 10px
}

.cont .back-img {
    width: 480px;
    position: relative;
}

.cont .back-img img {
    width: 100%;
    position: absolute;
    transition: opacity 1s;
}

.cont .back-img .two {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.cont .back-img .two.active {
    visibility: visible;
    opacity: 1;
}

.cont .log {
    position: relative;
    background: #fff;
    width: 400px;
    height: 460px;
    right: 15px;
    top: 50px;
    left: 132px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}

.cont .log .user {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cont .log .formbox {
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.cont .log .formbox h2 {
    color: #555;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 8px 0;
    text-transform: uppercase;
}

.cont .log .formbox input {
    width: 100%;
    padding: 10px;
    margin: 9px 0;
    border: none;
    outline: none;
    box-shadow: none;
    color: #333;
    background: #f3f3f3;
    font-size: 15px;
}

.cont .log .formbox input[type="submit"] {
    max-width: 180px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 2px;
    background: #183153;
    ;
    display: block;
    transition: 0.5s;
}

.cont .log .formbox span {
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.cont .log .formbox span a {
    text-decoration: none;
    padding-left: 5px;
}

.cont .log .signin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
}

.cont .log .signin .formbox input:focus {
    outline: 1px solid #183153;
}

.cont .log .signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cont .log .signin.active {
    top: 100%;
    visibility: hidden;
}

.cont .log .signup .formbox input[type="submit"] {
    background: #531818
}

.cont .log .signup .formbox input:focus {
    outline: 1px solid #531818;
}


/* Responsive Mobile and tablet*/

@media (min-width: 500px) and (max-width: 991px) {
    .cont .back-img {
        visibility: hidden;
    }
    .cont .log {
        left: 50%;
        top: 50%;
        margin-top: 20px;
        transform: translate(-50%, -50%);
    }
    .cont .back-img .two.active {
        visibility: hidden;
    }
}


/* Responsive Sm and Md*/

@media (min-width: 992px) and (max-width: 1132px) {
    .cont .back-img {
        width: 400px;
    }
    .cont .log {
        left: 0;
    }
}