<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>managclass</title>
    <link rel="stylesheet" href="../admin/css/all.min.css">
    <link rel="stylesheet" href="../admin/css/adminstyle.css">
</head>
<body>
    <div class="cont">
        <!--Start left Side-->
        <div class="sidbar">
            <ul>
                <li class="brand">
                    <a href="admin.html">
                        <span class="icon">F</span>
                        <span class="title"><h1>fras</h1></span>
                    </a>
                    
                </li>
                <li>
                    <a href="managStudent.html">
                        <span class="icon"><i class="fas fa-user-cog"></i></span>
                        <span class="title">Manage Student</span></a>
                </li>
                <li>
                    <a href="managclass.html">
                        <span class="icon"><i class="fas fa-cogs"></i></span>
                        <span class="title">Manage classroom</span>
                    </a>
                    
                </li>
            </ul>
        </div>
        <!--End left Side-->
        <!--**********************************************************************-->
        <!-- Start Right Side -->
        <div class="main">
                    <!-- Start Nav bar -->
          <div class="navigbar">
              <div class="toggle" onclick="toggleMenu()">
                 <i class="fas fa-bars"></i>
              </div>
              <div class="instractor">
                   <div class="stu-id">
                        <span>Stu ID : </span>
                        <span></span>
                   </div>
                   <div class="stu-name">
                         <span>Stu Name : </span>
                         <span></span>
                   </div>
              </div>
              <div class="logout">
                  <a href="#">
                      <span>Logout</span>
                  </a>
              </div>
          </div>
          <!-- End Nav bar -->
          <!-- ***************************************************************** -->
          <!-- Start Struc Main-->
           <div class="main-admin">
               <div class="box-mangroom">
                   <div class="class-controls">
                       <div class="start-new">
                        <a href="#">
                            <span>Start a new class</span>
                        </a>
                       </div>
                       <div class="manage-class">
                        <a href="#">
                            <span>Manage class</span>
                        </a>
                       </div>

                   </div>
                    <!-- board -->
                   <div class="class-board">
                         <!-- <span>Hello</span>               هنا  هتعمل كرييت ل اسبان  
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span>
                         <span>Hello</span> 
                           -->
                   </div>
               </div>
           </div>
          <!-- End Struc -->
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>