$maincolor: #233648;
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
li 
{
    list-style: none;
}
.badge-wrap
{
    width: 100%;
    overflow-x: hidden !important;
}
// Start Home Admin Page
.sidebar-left
{
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: $maincolor;
    box-shadow: 0 0 8px rgb(230 ,230, 230);
    transition: 0.6s;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
      }
    &.active
    {
        width: 60px;
    }
    .logo
    {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 50px;
        transition: 0.6s;
        span:first-child 
        {
            display: none;
            &.active
            {
                display: block;
            }
        }
        span:last-child 
        {
            &.active
            {
                display: none;
            }
        }
        a
        {
            color: #fff;
            span
            {
                font-size: 40px;
                transition: 0.6s;
            }
        }
    }
    // Img sidebar
    .info-prof
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        .img-prof
        {
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            img
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .name-prof
        {
            margin: 10px;
            span 
            {
                font-size: 18px;
                color: #fff;
                line-height: 16px;
            }
        }
    }
    .sidebar-link
    {
        position: relative;
        ul 
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; 
            li 
            {
                position: relative;
                width: 100%;
                list-style: none;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 1);
                transition: 0.5s;
                &:hover
                {
                    padding-left: 15px;
                }
                a 
                {
                    position: relative;
                    display: block;
                    width: 100%;
                    display: flex;
                    color: #fff;
                    .icon
                    {
                        position: relative;
                        display: block;
                        min-width: 60px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        .fas 
                        {
                            
                        color: #fff;
                        font-size: 25px;
                        }
                    }
                    .title
                    {
                        
                        position: relative;
                        display: block;
                        padding: 0 10px;
                        height: 60px;
                        line-height: 60px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
.main 
{
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.6s;
    &.active
    {
        width: calc(100% - 60px);
        left: 60px;
    }
    .navigation
    {
    position: relative;
    width: 100%;
    height: 60px;
    background: $maincolor;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    .toggle
    {
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: 0.5s;
        i 
        {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            font-size: 24px;
            line-height: 60px;
            text-align: center;
            color: #fff;
            transition: 0.5s;
        }
    }
    .notfication
    {
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: 0.5s;
        
      .icon
      {
          position: relative;
          &::before
          {
            content: '';
            position: absolute;
            top: 13px;
            right: -27px;
            width: 8px;
            height: 8px;
            background-color: red;
            border-radius: 50%;
          }
          i 
          {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              font-size: 24px;
              line-height: 60px;
              text-align: center;
              color: #fff;
              transition: 0.5s;
          }
      }
      .notfication-container
         {
            position: absolute;
            width: 351px;
            height: 400px;
            padding: 10px;
            background: $maincolor;
            top: 70px;
            right: 9px;
            z-index: 10;
            border-radius: 6px;
            cursor: default;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s ease-in-out;
            &.open
            {
                visibility: visible;
                opacity: 1;
                
            }
            &::before
            {
                content: '';
                position: absolute;
                top: -4px;
                right: 30px;
                width: 20px;
                height: 20px;
                background: $maincolor;
                transform: rotate(45deg);
            }
             .req
             {
              width: 100%;
              height: 100%;
              overflow-y: auto;
              display: flex;
              flex-direction: column;
               span:nth-child(1)
               {
                   border-top: none
               };
              span 
              {
                  height: 50px;
                  border-top: 1px solid #fff;
                  padding: 20px 5px;
                  font-size: 18px;
                  color: #fff;
              }
             }
         }
    }
    }
    .main-content
    {
        width: 100%;
        height: 100vh;
        .main-table
        {
            header
            {
                margin: 15px 0;
                text-align: center;
                font-size: 28px;
                font-weight: bold;
                user-select: none;
                color: $maincolor;
            }
            .courses-table
            {
                display: grid;
                height: 401px;
                table
                {
                    margin: 0 10px;
                    border-collapse: collapse;
                    background: #2336484f;
                    text-align: center;

                    thead
                    {
                        tr 
                        {
                            td{
                                padding: 20px 0;
                                font-weight: bold;
                                color: #fff;
                                background: $maincolor;
                                user-select: none;
                            }
                        }
                    }
                    tbody
                    {
                        tr
                        {
                            td{
                                padding: 15px 0;
                               border-bottom: 1px solid $maincolor;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Responsive screen 992px tablet
@media screen and (max-width: 992px) {
    .sidebar-left
    {
        left: -250px;
        z-index: 20;
        &.active
        {
            left: 0;
            width: 250px;
        }
    }
    .main 
    {
     width: 100%;
     left: 0;
    }
    .main .navigation
    {
        justify-content: flex-end
    }
    .logo
    {
        span:first-child 
        {
            &.active
            {
                display: none;
            }
        }
        span:last-child 
        {
            &.active
            {
                display: block;
            }
        }
}
}
// End Home Admin Page
// ************************************************************
// Start Manage Course
.manage-courses,
.manage-stdent
{
    .action-cours,
    .action-student
    {
        width: 100%;
        margin-top: 50px;
        form 
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div 
            {
                position: relative;
                input 
                {
                    width: 100%;
                    padding: 12px 14px 12px 35px;
                    margin: 10px;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    color: #333;
                    background: #3865a11c;
                    font-size: 16px;
                    transition: 0.5s;
                }

            }
            .add
            {
                margin: 0 12px;
                i 
                {
                    position: absolute;
                    top: 20px;
                    left: 34%;
                    font-size: 21px;
                    color: #fff;
                    user-select: none;
                    cursor: pointer;
                }
                input 
                {
                    background: #42b72a;
                    color: #fff;
                    cursor: pointer;
                    &:hover
                    {
                        background: #246417;
                    }
                }
            }
        }
    }
    .courses-table-manage
    {
        display: grid;
        table
        {
            margin: 0 10px;
            border-collapse: collapse;
            background: #2336484f;
            text-align: center;

            thead
            {
                tr 
                {
                    td{
                        padding: 20px 0;
                        font-weight: bold;
                        color: #fff;
                        background: $maincolor;
                        user-select: none;
                    }
                }
            }
            tbody
            {
                tr
                {
                    td{
                        padding: 15px 0;
                       border-bottom: 1px solid $maincolor;
                       &:last-child button
                       {
                           padding: 10px 14px;
                           background: red;
                           color: #fff;
                           outline: none;
                           border: none;
                           border-radius: 4px;
                           cursor: pointer;
                           transition: 0.6s;
                           &:hover
                           {
                               background: #a50202;
                           }
                       }
                    }
                }
            }
        }
    }
}
// Start Profile Admin
.chprof-fields
{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    form 
    {
        position: relative;
        width: 400px;
        height: 460px;
        border: none;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        overflow: hidden;
        transition: 0.5s;
        div 
        {
            margin-top: 20px 0;
            input 
            {
                padding: 12px 14px 12px 35px;
                margin: 10px 0;
                width:100%;
                border: none;
                color: #000;
                text-align:justify;
                outline: none;
                letter-spacing: 1px;
                font-size: 16px;
                background: #23364815;
                font-weight:normal;
                border-radius: 3px;
                font-family: 'Muli', sans-serif;
                transition: 0.6s;
                &:focus
                {
                    outline: 1px solid $maincolor;
                }
                &[type="submit"]
                {
                    background: #42b72a;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                    width: 40%;
                    outline: none;
                    &:hover
                    {
                        background: #246417;
                    }
                }
                
            }
        }
        
    }
}