*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 90%;
    margin: auto;
}
body
{
    font-family: sans-serif;
    min-height: 100vh;
    background: #f0eeee;
    overflow: hidden;
}
nav
{
    background:#3866a1;
    overflow: hidden;
    display: flex;
    padding: 2px; 
    color: rgba(255, 255, 255, 0.9);
}
nav .logo
{
    float: left;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
    padding: 10px 0;
}
nav .tele
{
    float: right;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    transition: 0.5s;
}
.center 
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.center .fields
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
    overflow: hidden;
    transition: 0.5s;
}
.center .fields .back-img
{
   position: relative;
    width: 100%;
}
.center .fields .back-img img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}
.center .fields .back-img img.img-one
{
    z-index: 2;
}
.center .fields .back-img img.img-two
{
    z-index: 1;
}
.log-forms
{
    position: relative;
    background:#fff;
    width: 400px;
    height: 460px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}
.log-forms .signfield
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   transition: 0.5s;
}

.log-forms .signfield form
{
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #fff;
    transition: 0.5s;
}
.log-forms .signfield form header
{
    color: #555;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
}
.log-forms .signfield form input
{
    width: 100%;
    padding: 12px 14px 12px 35px;
    margin: 9px 0;
    border: none;
    outline: none;
    box-shadow: none;
    color: #333;
    background: #f3f3f3;
    font-size: 16px;
}
.log-forms .signfield form .action-btn
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.log-forms .signfield form input[type="submit"]
{
    width: 160px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 2px;
    box-shadow: 0 0 20px #eee;
    background-size: 200% auto;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    margin: 8px 5px;
}
.log-forms .signfield.signin-f form input[type="submit"]
{
    background-image: linear-gradient(to right, #3866a1 0%, #79CBCA  51%, #3866a1  100%);

}

.log-forms .signfield.signup-f form input[type="submit"]
{
    background-image: linear-gradient(to right, #8f949e 0%, #D7DDE8  51%, #8f949e  100%);
    color: gray;

}
.log-forms .signfield.signin-f form input[type="submit"]:hover

{
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            color: #3866a1;
}
.log-forms .signfield.signup-f form input[type="submit"]:hover
{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.log-forms .signfield form div
{
    position: relative;
}
.log-forms .signfield form .fas
{
    position: absolute;
    top: 15px;
    left: 3%;
    font-size: 21px;
    color: #3866a1;
}
.log-forms .signfield form .link 
{
    margin-top: 20px;
    color: #555;
}
.log-forms .signfield form .link  a
{
    text-decoration: none;
    color:#8f949e;
    font-weight: bold;
}
.signin-f
{
    z-index: 2;
}
.signup-f
{
    z-index: 1;
}
/* Active Class */
.signfield.signin-f.active
{
    top: 100%;
    transition: 0.5s;
}

.center .fields .back-img img.img-one.active
{
    top: 100%;
    transition: 0.5s;
}
nav.active
{
  background: #8f949e;
  transition: 0.5s;
}
.signup-f.active .signup-action  input[type="submit"]
{
    background: #8f949e;
}
.signup-f.active  .link span  a
{
    color: #3866a1;
}
/* Media for Responsive */
@media (max-width: 1160px)
{
    .center .fields
    {
        grid-template-columns: repeat(2, 50% 50%);
        transition: 0.5s;
    }
}
@media(max-width: 860px)
{
    .center .fields .back-img
    {
        display: none;
    }
    .center .fields
    {
     display: flex;
     justify-content: center;
     align-items: center;   
    }
}

