<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <section>
             <div class="row">
                 <div class="col-2">
                    <div class="copls" onclick="sideOn();"><i class="fas fa-bars"></i></div>
                     <div class="menu-info">
                         <div class="setting text-center">
                             <div class="header">
                                 <span><a href="Home.html">FRAS</a></span>
                                </div>
                             <ul>
                                 <li><a href="manage-student.html"><i class="fas fa-user-cog"></i>Manage Student</a></li>
                                 <li><a href="manage-class.html"><i class="fas fa-house-user"></i>Manage Classroom</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
                 <div class="instractor-info text-center">
                 <div class="col-10">
                     <div class="container">
                         <div class="instractor-action">
                            <label>instractor code :</label>
                            <label>instractor name : </label>
                         </div>

                        </div>
                    </div>
                     </div>
                       <div class="home text-center">
                           <div class="container">
                               <div class="going-btn">
                                   <h2>On going Class</h2><span class="name-class"></span>
                                   <a href="going-class.html">more about this class</a>
                               </div>
                               <div class="class-btn">
                                  <h2>Next Class</h2><span class="next-class"></span>
                                  <a href="#">Manage Class</a>
                               </div>
                           </div>
                       </div>
                    </div>
             </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sidebarjs.js"></script>
</body>
</html>