<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student State</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <section>
             <div class="row">
                 <div class="col-2">
                     <div class="menu-info">
                         <div class="setting text-center">
                             <div class="header">
                                 <span><a href="Home.html">FRAS</a></span>
                                </div>
                             <ul>
                                 <li><a href="manage-student.html"><i class="fas fa-user-cog"></i>Manage Student</a></li>
                                 <li><a href="manage-class.html"><i class="fas fa-house-user"></i>Manage Classroom</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
                 <div class="col-10">
                    <div class="instractor-info text-center">
                     <div class="container">
                            <label>instractor code :</label>
                            <label>(...)</label>
                            <label>instractor name : </label>
                            <label>(...)</label>
                        </div>
                     </div>
                     <div class="student-state">
                         <div class="container">
                             <div class="recordbx">
                                 <form>
                                     <h1>Record a student attendance </h1>
                                     <label for="class-code"> Class Code : </label>
                                     <input type="text" placeholder="Enter Class Code">
                                     <label for="stu-code">Stu Code : </label>
                                     <input type="text" placeholder="Enter Std Code">
                                     <input type="submit" value="Save">
                                 </form>
                             </div>
                             <div class="kickbx">
                                <form>
                                    <h1>Kick a student attendance </h1>
                                    <label for="class-code">Class Code : </label>
                                    <input type="text" placeholder="Enter Class Code">
                                    <label for="stu-code">Stu Code : </label>
                                    <input type="text" placeholder="Enter Std Code">
                                    <input type="submit" value="Save">
                                </form>
                            </div>
                         </div>
                     </div>
                    </div>
             </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>